<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.CourseLessonInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.CourseLessonInfo">
		<!--课时ID（UUID）-->
		<result column="lesson_id" property="lessonId"  />
		<!--所属课程ID-->
		<result column="course_id" property="courseId"  />
		<!--所属章节ID-->
		<result column="chapter_id" property="chapterId"  />
		<!--课时名称-->
		<result column="lesson_name" property="lessonName"  />
		<!--排序权重-->
		<result column="sort_order" property="sortOrder"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 c.lesson_id,c.course_id,c.chapter_id,c.lesson_name,c.sort_order
		 
	</sql>

	<sql id="base_condition_filed">
			<if test="query.lessonId != null and query.lessonId!=''">
				 and  c.lesson_id = #{query.lessonId}
			</if>
			<if test="query.courseId != null and query.courseId!=''">
				 and  c.course_id = #{query.courseId}
			</if>
			<if test="query.chapterId != null and query.chapterId!=''">
				 and  c.chapter_id = #{query.chapterId}
			</if>
			<if test="query.lessonName != null and query.lessonName!=''">
				 and  c.lesson_name = #{query.lessonName}
			</if>
			<if test="query.sortOrder != null">
				 and  c.sort_order = #{query.sortOrder}
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.lessonIdFuzzy!= null  and query.lessonIdFuzzy!=''">
				 and  c.lesson_id like concat('%', #{query.lessonIdFuzzy}, '%')
			</if>
			<if test="query.courseIdFuzzy!= null  and query.courseIdFuzzy!=''">
				 and  c.course_id like concat('%', #{query.courseIdFuzzy}, '%')
			</if>
			<if test="query.chapterIdFuzzy!= null  and query.chapterIdFuzzy!=''">
				 and  c.chapter_id like concat('%', #{query.chapterIdFuzzy}, '%')
			</if>
			<if test="query.lessonNameFuzzy!= null  and query.lessonNameFuzzy!=''">
				 and  c.lesson_name like concat('%', #{query.lessonNameFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM course_lesson_info c <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM course_lesson_info c <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.CourseLessonInfo">
		 INSERT INTO course_lesson_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.lessonName != null">
				 lesson_name,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.lessonName!=null">
				 #{bean.lessonName},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.CourseLessonInfo">
		 INSERT INTO course_lesson_info
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.lessonName != null">
				 lesson_name,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.lessonName!=null">
				 #{bean.lessonName},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.lessonId!=null">
				 lesson_id = VALUES(lesson_id),
			</if>
			<if test="bean.courseId!=null">
				 course_id = VALUES(course_id),
			</if>
			<if test="bean.chapterId!=null">
				 chapter_id = VALUES(chapter_id),
			</if>
			<if test="bean.lessonName!=null">
				 lesson_name = VALUES(lesson_name),
			</if>
			<if test="bean.sortOrder!=null">
				 sort_order = VALUES(sort_order),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.CourseLessonInfo">
		 INSERT INTO course_lesson_info(
			 lesson_id,
			 course_id,
			 chapter_id,
			 lesson_name,
			 sort_order
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.lessonId},
				 #{item.courseId},
				 #{item.chapterId},
				 #{item.lessonName},
				 #{item.sortOrder}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.CourseLessonInfo">
		 INSERT INTO course_lesson_info(
			 lesson_id,
			 course_id,
			 chapter_id,
			 lesson_name,
			 sort_order
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.lessonId},
				 #{item.courseId},
				 #{item.chapterId},
				 #{item.lessonName},
				 #{item.sortOrder}
			 )
		 </foreach>
			on DUPLICATE key update 
			lesson_id = VALUES(lesson_id),
			course_id = VALUES(course_id),
			chapter_id = VALUES(chapter_id),
			lesson_name = VALUES(lesson_name),
			sort_order = VALUES(sort_order)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.CourseLessonInfoQuery">
		 UPDATE course_lesson_info c
 		 <set> 
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.lessonName != null">
				 lesson_name = #{bean.lessonName},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete c from course_lesson_info c
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据LessonId修改-->
	<update id="updateByLessonId" parameterType="com.smart.campus.entity.po.CourseLessonInfo">
		 UPDATE course_lesson_info
 		 <set> 
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.lessonName != null">
				 lesson_name = #{bean.lessonName},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
 		 </set>
 		 where lesson_id=#{lessonId}
	</update>

	<!-- 根据LessonId删除-->
	<delete id="deleteByLessonId">
		delete from course_lesson_info where lesson_id=#{lessonId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByLessonId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_lesson_info c where lesson_id=#{lessonId}
	</select>

</mapper>