<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.CourseLessonResourceMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.CourseLessonResource">
		<!--关联ID（UUID）-->
		<result column="id" property="id"  />
		<!--所属课时ID-->
		<result column="lesson_id" property="lessonId"  />
		<!--资源类型：1-视频, 2-课件, 3-课后习题-->
		<result column="resource_type" property="resourceType"  />
		<!--关联资源ID（resource_info 或 paper_info）-->
		<result column="resource_id" property="resourceId"  />
		<!--是否是主资源1:是  0:不是-->
		<result column="is_primary" property="isPrimary"  />
		<!--排序权重-->
		<result column="sort_order" property="sortOrder"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 c.id,c.lesson_id,c.resource_type,c.resource_id,c.is_primary,
		 c.sort_order
	</sql>

	<sql id="base_condition_filed">
			<if test="query.id != null and query.id!=''">
				 and  c.id = #{query.id}
			</if>
			<if test="query.lessonId != null and query.lessonId!=''">
				 and  c.lesson_id = #{query.lessonId}
			</if>
			<if test="query.resourceType != null">
				 and  c.resource_type = #{query.resourceType}
			</if>
			<if test="query.resourceId != null and query.resourceId!=''">
				 and  c.resource_id = #{query.resourceId}
			</if>
			<if test="query.isPrimary != null">
				 and  c.is_primary = #{query.isPrimary}
			</if>
			<if test="query.sortOrder != null">
				 and  c.sort_order = #{query.sortOrder}
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.idFuzzy!= null  and query.idFuzzy!=''">
				 and  c.id like concat('%', #{query.idFuzzy}, '%')
			</if>
			<if test="query.lessonIdFuzzy!= null  and query.lessonIdFuzzy!=''">
				 and  c.lesson_id like concat('%', #{query.lessonIdFuzzy}, '%')
			</if>
			<if test="query.resourceIdFuzzy!= null  and query.resourceIdFuzzy!=''">
				 and  c.resource_id like concat('%', #{query.resourceIdFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM course_lesson_resource c <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM course_lesson_resource c <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.CourseLessonResource">
		 INSERT INTO course_lesson_resource
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.resourceType != null">
				 resource_type,
			</if>
			<if test="bean.resourceId != null">
				 resource_id,
			</if>
			<if test="bean.isPrimary != null">
				 is_primary,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.resourceType!=null">
				 #{bean.resourceType},
			</if>
			<if test="bean.resourceId!=null">
				 #{bean.resourceId},
			</if>
			<if test="bean.isPrimary!=null">
				 #{bean.isPrimary},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.CourseLessonResource">
		 INSERT INTO course_lesson_resource
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				 id,
			</if>
			<if test="bean.lessonId != null">
				 lesson_id,
			</if>
			<if test="bean.resourceType != null">
				 resource_type,
			</if>
			<if test="bean.resourceId != null">
				 resource_id,
			</if>
			<if test="bean.isPrimary != null">
				 is_primary,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.id!=null">
				 #{bean.id},
			</if>
			<if test="bean.lessonId!=null">
				 #{bean.lessonId},
			</if>
			<if test="bean.resourceType!=null">
				 #{bean.resourceType},
			</if>
			<if test="bean.resourceId!=null">
				 #{bean.resourceId},
			</if>
			<if test="bean.isPrimary!=null">
				 #{bean.isPrimary},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.id!=null">
				 id = VALUES(id),
			</if>
			<if test="bean.lessonId!=null">
				 lesson_id = VALUES(lesson_id),
			</if>
			<if test="bean.resourceType!=null">
				 resource_type = VALUES(resource_type),
			</if>
			<if test="bean.resourceId!=null">
				 resource_id = VALUES(resource_id),
			</if>
			<if test="bean.isPrimary!=null">
				 is_primary = VALUES(is_primary),
			</if>
			<if test="bean.sortOrder!=null">
				 sort_order = VALUES(sort_order),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.CourseLessonResource">
		 INSERT INTO course_lesson_resource(
			 id,
			 lesson_id,
			 resource_type,
			 resource_id,
			 is_primary,
			 sort_order
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.id},
				 #{item.lessonId},
				 #{item.resourceType},
				 #{item.resourceId},
				 #{item.isPrimary},
				 #{item.sortOrder}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.CourseLessonResource">
		 INSERT INTO course_lesson_resource(
			 id,
			 lesson_id,
			 resource_type,
			 resource_id,
			 is_primary,
			 sort_order
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.id},
				 #{item.lessonId},
				 #{item.resourceType},
				 #{item.resourceId},
				 #{item.isPrimary},
				 #{item.sortOrder}
			 )
		 </foreach>
			on DUPLICATE key update 
			id = VALUES(id),
			lesson_id = VALUES(lesson_id),
			resource_type = VALUES(resource_type),
			resource_id = VALUES(resource_id),
			is_primary = VALUES(is_primary),
			sort_order = VALUES(sort_order)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.CourseLessonResourceQuery">
		 UPDATE course_lesson_resource c
 		 <set> 
			<if test="bean.id != null">
				 id = #{bean.id},
			</if>
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.resourceType != null">
				 resource_type = #{bean.resourceType},
			</if>
			<if test="bean.resourceId != null">
				 resource_id = #{bean.resourceId},
			</if>
			<if test="bean.isPrimary != null">
				 is_primary = #{bean.isPrimary},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete c from course_lesson_resource c
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据Id修改-->
	<update id="updateById" parameterType="com.smart.campus.entity.po.CourseLessonResource">
		 UPDATE course_lesson_resource
 		 <set> 
			<if test="bean.lessonId != null">
				 lesson_id = #{bean.lessonId},
			</if>
			<if test="bean.resourceType != null">
				 resource_type = #{bean.resourceType},
			</if>
			<if test="bean.resourceId != null">
				 resource_id = #{bean.resourceId},
			</if>
			<if test="bean.isPrimary != null">
				 is_primary = #{bean.isPrimary},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
 		 </set>
 		 where id=#{id}
	</update>

	<!-- 根据Id删除-->
	<delete id="deleteById">
		delete from course_lesson_resource where id=#{id}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectById" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_lesson_resource c where id=#{id}
	</select>

</mapper>