<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.CourseChapterInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.CourseChapterInfo">
		<!--章节ID（UUID）-->
		<result column="chapter_id" property="chapterId"  />
		<!--所属课程ID-->
		<result column="course_id" property="courseId"  />
		<!--章节名称-->
		<result column="chapter_name" property="chapterName"  />
		<!--章节描述-->
		<result column="description" property="description"  />
		<!--排序权重-->
		<result column="sort_order" property="sortOrder"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 c.chapter_id,c.course_id,c.chapter_name,c.description,c.sort_order
		 
	</sql>

	<sql id="base_condition_filed">
			<if test="query.chapterId != null and query.chapterId!=''">
				 and  c.chapter_id = #{query.chapterId}
			</if>
			<if test="query.courseId != null and query.courseId!=''">
				 and  c.course_id = #{query.courseId}
			</if>
			<if test="query.chapterName != null and query.chapterName!=''">
				 and  c.chapter_name = #{query.chapterName}
			</if>
			<if test="query.description != null and query.description!=''">
				 and  c.description = #{query.description}
			</if>
			<if test="query.sortOrder != null">
				 and  c.sort_order = #{query.sortOrder}
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.chapterIdFuzzy!= null  and query.chapterIdFuzzy!=''">
				 and  c.chapter_id like concat('%', #{query.chapterIdFuzzy}, '%')
			</if>
			<if test="query.courseIdFuzzy!= null  and query.courseIdFuzzy!=''">
				 and  c.course_id like concat('%', #{query.courseIdFuzzy}, '%')
			</if>
			<if test="query.chapterNameFuzzy!= null  and query.chapterNameFuzzy!=''">
				 and  c.chapter_name like concat('%', #{query.chapterNameFuzzy}, '%')
			</if>
			<if test="query.descriptionFuzzy!= null  and query.descriptionFuzzy!=''">
				 and  c.description like concat('%', #{query.descriptionFuzzy}, '%')
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM course_chapter_info c <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM course_chapter_info c <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.CourseChapterInfo">
		<selectKey keyProperty="bean.chapterId" resultType="String" order="BEFORE">
			SELECT REPLACE(UUID(), '-', '')
		</selectKey>
		 INSERT INTO course_chapter_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.chapterName != null">
				 chapter_name,
			</if>
			<if test="bean.description != null">
				 description,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.chapterName!=null">
				 #{bean.chapterName},
			</if>
			<if test="bean.description!=null">
				 #{bean.description},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.CourseChapterInfo">
		 INSERT INTO course_chapter_info
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.chapterId != null">
				 chapter_id,
			</if>
			<if test="bean.courseId != null">
				 course_id,
			</if>
			<if test="bean.chapterName != null">
				 chapter_name,
			</if>
			<if test="bean.description != null">
				 description,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.chapterId!=null">
				 #{bean.chapterId},
			</if>
			<if test="bean.courseId!=null">
				 #{bean.courseId},
			</if>
			<if test="bean.chapterName!=null">
				 #{bean.chapterName},
			</if>
			<if test="bean.description!=null">
				 #{bean.description},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.chapterId!=null">
				 chapter_id = VALUES(chapter_id),
			</if>
			<if test="bean.courseId!=null">
				 course_id = VALUES(course_id),
			</if>
			<if test="bean.chapterName!=null">
				 chapter_name = VALUES(chapter_name),
			</if>
			<if test="bean.description!=null">
				 description = VALUES(description),
			</if>
			<if test="bean.sortOrder!=null">
				 sort_order = VALUES(sort_order),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.CourseChapterInfo">
		 INSERT INTO course_chapter_info(
			 chapter_id,
			 course_id,
			 chapter_name,
			 description,
			 sort_order
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.chapterId},
				 #{item.courseId},
				 #{item.chapterName},
				 #{item.description},
				 #{item.sortOrder}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.CourseChapterInfo">
		 INSERT INTO course_chapter_info(
			 chapter_id,
			 course_id,
			 chapter_name,
			 description,
			 sort_order
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.chapterId},
				 #{item.courseId},
				 #{item.chapterName},
				 #{item.description},
				 #{item.sortOrder}
			 )
		 </foreach>
			on DUPLICATE key update 
			chapter_id = VALUES(chapter_id),
			course_id = VALUES(course_id),
			chapter_name = VALUES(chapter_name),
			description = VALUES(description),
			sort_order = VALUES(sort_order)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.CourseChapterInfoQuery">
		 UPDATE course_chapter_info c
 		 <set> 
			<if test="bean.chapterId != null">
				 chapter_id = #{bean.chapterId},
			</if>
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterName != null">
				 chapter_name = #{bean.chapterName},
			</if>
			<if test="bean.description != null">
				 description = #{bean.description},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete c from course_chapter_info c
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据ChapterId修改-->
	<update id="updateByChapterId" parameterType="com.smart.campus.entity.po.CourseChapterInfo">
		 UPDATE course_chapter_info
 		 <set> 
			<if test="bean.courseId != null">
				 course_id = #{bean.courseId},
			</if>
			<if test="bean.chapterName != null">
				 chapter_name = #{bean.chapterName},
			</if>
			<if test="bean.description != null">
				 description = #{bean.description},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
 		 </set>
 		 where chapter_id=#{chapterId}
	</update>

	<!-- 根据ChapterId删除-->
	<delete id="deleteByChapterId">
		delete from course_chapter_info where chapter_id=#{chapterId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByChapterId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from course_chapter_info c where chapter_id=#{chapterId}
	</select>

</mapper>