<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.PaperInfoMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.PaperInfo">
		<!--试卷ID（UUID）-->
		<result column="paper_id" property="paperId"  />
		<!--试卷名称-->
		<result column="paper_title" property="paperTitle"  />
		<!--试卷类型：1-课后习题, 2-考试试卷-->
		<result column="paper_type" property="paperType"  />
		<!--试卷描述/说明-->
		<result column="description" property="description"  />
		<!--试卷总分-->
		<result column="total_score" property="totalScore"  />
		<!--考试时长（分钟，考试试卷使用）-->
		<result column="duration" property="duration"  />
		<!--状态：1-启用, 0-禁用-->
		<result column="status" property="status"  />
		<!--创建人用户ID-->
		<result column="create_user_id" property="createUserId"  />
		<!--排序权重-->
		<result column="sort_order" property="sortOrder"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
		<!--更新时间-->
		<result column="update_time" property="updateTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 p.paper_id,p.paper_title,p.paper_type,p.description,p.total_score,
		 p.duration,p.status,p.create_user_id,p.sort_order,p.create_time,
		 p.update_time
	</sql>

	<sql id="base_condition_filed">
			<if test="query.paperId != null and query.paperId!=''">
				 and  p.paper_id = #{query.paperId}
			</if>
			<if test="query.paperTitle != null and query.paperTitle!=''">
				 and  p.paper_title = #{query.paperTitle}
			</if>
			<if test="query.paperType != null">
				 and  p.paper_type = #{query.paperType}
			</if>
			<if test="query.description != null and query.description!=''">
				 and  p.description = #{query.description}
			</if>
			<if test="query.totalScore != null">
				 and  p.total_score = #{query.totalScore}
			</if>
			<if test="query.duration != null">
				 and  p.duration = #{query.duration}
			</if>
			<if test="query.status != null">
				 and  p.status = #{query.status}
			</if>
			<if test="query.createUserId != null">
				 and  p.create_user_id = #{query.createUserId}
			</if>
			<if test="query.sortOrder != null">
				 and  p.sort_order = #{query.sortOrder}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  p.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTime != null and query.updateTime!=''">
				 <![CDATA[ and  p.update_time=str_to_date(#{query.updateTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.paperIdFuzzy!= null  and query.paperIdFuzzy!=''">
				 and  p.paper_id like concat('%', #{query.paperIdFuzzy}, '%')
			</if>
			<if test="query.paperTitleFuzzy!= null  and query.paperTitleFuzzy!=''">
				 and  p.paper_title like concat('%', #{query.paperTitleFuzzy}, '%')
			</if>
			<if test="query.descriptionFuzzy!= null  and query.descriptionFuzzy!=''">
				 and  p.description like concat('%', #{query.descriptionFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  p.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  p.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
			<if test="query.updateTimeStart!= null and query.updateTimeStart!=''">
				 <![CDATA[ and  p.update_time>=str_to_date(#{query.updateTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.updateTimeEnd!= null and query.updateTimeEnd!=''">
				 <![CDATA[ and  p.update_time< date_sub(str_to_date(#{query.updateTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM paper_info p <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM paper_info p <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.PaperInfo">
		<selectKey keyProperty="bean.paperId" resultType="String" order="BEFORE">
			SELECT REPLACE(UUID(), '-', '')
		</selectKey>
		 INSERT INTO paper_info
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.paperId != null">
				 paper_id,
			</if>
			<if test="bean.paperTitle != null">
				 paper_title,
			</if>
			<if test="bean.paperType != null">
				 paper_type,
			</if>
			<if test="bean.description != null">
				 description,
			</if>
			<if test="bean.totalScore != null">
				 total_score,
			</if>
			<if test="bean.duration != null">
				 duration,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.createUserId != null">
				 create_user_id,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.paperId!=null">
				 #{bean.paperId},
			</if>
			<if test="bean.paperTitle!=null">
				 #{bean.paperTitle},
			</if>
			<if test="bean.paperType!=null">
				 #{bean.paperType},
			</if>
			<if test="bean.description!=null">
				 #{bean.description},
			</if>
			<if test="bean.totalScore!=null">
				 #{bean.totalScore},
			</if>
			<if test="bean.duration!=null">
				 #{bean.duration},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.createUserId!=null">
				 #{bean.createUserId},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.PaperInfo">
		 INSERT INTO paper_info
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.paperId != null">
				 paper_id,
			</if>
			<if test="bean.paperTitle != null">
				 paper_title,
			</if>
			<if test="bean.paperType != null">
				 paper_type,
			</if>
			<if test="bean.description != null">
				 description,
			</if>
			<if test="bean.totalScore != null">
				 total_score,
			</if>
			<if test="bean.duration != null">
				 duration,
			</if>
			<if test="bean.status != null">
				 status,
			</if>
			<if test="bean.createUserId != null">
				 create_user_id,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
			<if test="bean.updateTime != null">
				 update_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.paperId!=null">
				 #{bean.paperId},
			</if>
			<if test="bean.paperTitle!=null">
				 #{bean.paperTitle},
			</if>
			<if test="bean.paperType!=null">
				 #{bean.paperType},
			</if>
			<if test="bean.description!=null">
				 #{bean.description},
			</if>
			<if test="bean.totalScore!=null">
				 #{bean.totalScore},
			</if>
			<if test="bean.duration!=null">
				 #{bean.duration},
			</if>
			<if test="bean.status!=null">
				 #{bean.status},
			</if>
			<if test="bean.createUserId!=null">
				 #{bean.createUserId},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
			<if test="bean.updateTime!=null">
				 #{bean.updateTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.paperId!=null">
				 paper_id = VALUES(paper_id),
			</if>
			<if test="bean.paperTitle!=null">
				 paper_title = VALUES(paper_title),
			</if>
			<if test="bean.paperType!=null">
				 paper_type = VALUES(paper_type),
			</if>
			<if test="bean.description!=null">
				 description = VALUES(description),
			</if>
			<if test="bean.totalScore!=null">
				 total_score = VALUES(total_score),
			</if>
			<if test="bean.duration!=null">
				 duration = VALUES(duration),
			</if>
			<if test="bean.status!=null">
				 status = VALUES(status),
			</if>
			<if test="bean.createUserId!=null">
				 create_user_id = VALUES(create_user_id),
			</if>
			<if test="bean.sortOrder!=null">
				 sort_order = VALUES(sort_order),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
			<if test="bean.updateTime!=null">
				 update_time = VALUES(update_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.PaperInfo">
		 INSERT INTO paper_info(
			 paper_id,
			 paper_title,
			 paper_type,
			 description,
			 total_score,
			 duration,
			 status,
			 create_user_id,
			 sort_order,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.paperId},
				 #{item.paperTitle},
				 #{item.paperType},
				 #{item.description},
				 #{item.totalScore},
				 #{item.duration},
				 #{item.status},
				 #{item.createUserId},
				 #{item.sortOrder},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.PaperInfo">
		 INSERT INTO paper_info(
			 paper_id,
			 paper_title,
			 paper_type,
			 description,
			 total_score,
			 duration,
			 status,
			 create_user_id,
			 sort_order,
			 create_time,
			 update_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.paperId},
				 #{item.paperTitle},
				 #{item.paperType},
				 #{item.description},
				 #{item.totalScore},
				 #{item.duration},
				 #{item.status},
				 #{item.createUserId},
				 #{item.sortOrder},
				 #{item.createTime},
				 #{item.updateTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			paper_id = VALUES(paper_id),
			paper_title = VALUES(paper_title),
			paper_type = VALUES(paper_type),
			description = VALUES(description),
			total_score = VALUES(total_score),
			duration = VALUES(duration),
			status = VALUES(status),
			create_user_id = VALUES(create_user_id),
			sort_order = VALUES(sort_order),
			create_time = VALUES(create_time),
			update_time = VALUES(update_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.PaperInfoQuery">
		 UPDATE paper_info p
 		 <set> 
			<if test="bean.paperId != null">
				 paper_id = #{bean.paperId},
			</if>
			<if test="bean.paperTitle != null">
				 paper_title = #{bean.paperTitle},
			</if>
			<if test="bean.paperType != null">
				 paper_type = #{bean.paperType},
			</if>
			<if test="bean.description != null">
				 description = #{bean.description},
			</if>
			<if test="bean.totalScore != null">
				 total_score = #{bean.totalScore},
			</if>
			<if test="bean.duration != null">
				 duration = #{bean.duration},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createUserId != null">
				 create_user_id = #{bean.createUserId},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete p from paper_info p
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据PaperId修改-->
	<update id="updateByPaperId" parameterType="com.smart.campus.entity.po.PaperInfo">
		 UPDATE paper_info
 		 <set> 
			<if test="bean.paperTitle != null">
				 paper_title = #{bean.paperTitle},
			</if>
			<if test="bean.paperType != null">
				 paper_type = #{bean.paperType},
			</if>
			<if test="bean.description != null">
				 description = #{bean.description},
			</if>
			<if test="bean.totalScore != null">
				 total_score = #{bean.totalScore},
			</if>
			<if test="bean.duration != null">
				 duration = #{bean.duration},
			</if>
			<if test="bean.status != null">
				 status = #{bean.status},
			</if>
			<if test="bean.createUserId != null">
				 create_user_id = #{bean.createUserId},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
			<if test="bean.updateTime != null">
				 update_time = #{bean.updateTime},
			</if>
 		 </set>
 		 where paper_id=#{paperId}
	</update>

	<!-- 根据PaperId删除-->
	<delete id="deleteByPaperId">
		delete from paper_info where paper_id=#{paperId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByPaperId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from paper_info p where paper_id=#{paperId}
	</select>

</mapper>