<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.campus.mappers.QuestionOptionMapper">

	<!--实体映射-->
	<resultMap id="base_result_map" type="com.smart.campus.entity.po.QuestionOption">
		<!--选项ID（UUID）-->
		<result column="option_id" property="optionId"  />
		<!--所属习题ID-->
		<result column="question_id" property="questionId"  />
		<!--选项内容-->
		<result column="option_content" property="optionContent"  />
		<!--排序权重（按标识字母顺序排序）-->
		<result column="sort_order" property="sortOrder"  />
		<!--创建时间-->
		<result column="create_time" property="createTime"  />
	</resultMap>


	<!-- 通用查询结果列-->
	<sql id="base_column_list">
		 q.option_id,q.question_id,q.option_content,q.sort_order,q.create_time
		 
	</sql>

	<sql id="base_condition_filed">
			<if test="query.optionId != null and query.optionId!=''">
				 and  q.option_id = #{query.optionId}
			</if>
			<if test="query.questionId != null and query.questionId!=''">
				 and  q.question_id = #{query.questionId}
			</if>
			<if test="query.optionContent != null and query.optionContent!=''">
				 and  q.option_content = #{query.optionContent}
			</if>
			<if test="query.sortOrder != null">
				 and  q.sort_order = #{query.sortOrder}
			</if>
			<if test="query.createTime != null and query.createTime!=''">
				 <![CDATA[ and  q.create_time=str_to_date(#{query.createTime}, '%Y-%m-%d') ]]>
			</if>
	</sql>

	<!-- 通用查询条件列-->
	<sql id="query_condition">
	 <where>
			<include refid="base_condition_filed" />
			<if test="query.optionIdFuzzy!= null  and query.optionIdFuzzy!=''">
				 and  q.option_id like concat('%', #{query.optionIdFuzzy}, '%')
			</if>
			<if test="query.questionIdFuzzy!= null  and query.questionIdFuzzy!=''">
				 and  q.question_id like concat('%', #{query.questionIdFuzzy}, '%')
			</if>
			<if test="query.optionContentFuzzy!= null  and query.optionContentFuzzy!=''">
				 and  q.option_content like concat('%', #{query.optionContentFuzzy}, '%')
			</if>
			<if test="query.createTimeStart!= null and query.createTimeStart!=''">
				 <![CDATA[ and  q.create_time>=str_to_date(#{query.createTimeStart}, '%Y-%m-%d') ]]>
			</if>
			<if test="query.createTimeEnd!= null and query.createTimeEnd!=''">
				 <![CDATA[ and  q.create_time< date_sub(str_to_date(#{query.createTimeEnd},'%Y-%m-%d'),interval -1 day) ]]>
			</if>
	 </where>
	</sql>

	<!-- 查询集合-->
	<select id="selectList" resultMap="base_result_map" >
		 SELECT <include refid="base_column_list" /> FROM question_option q <include refid="query_condition" />
		 <if test="query.orderBy!=null">
			 order by ${query.orderBy}
		 </if>
		 <if test="query.simplePage!=null">
			 limit #{query.simplePage.start},#{query.simplePage.end}
		 </if>
	</select>

	<!-- 查询数量-->
	<select id="selectCount" resultType="java.lang.Integer" >
		 SELECT count(1) FROM question_option q <include refid="query_condition" />
	</select>

	<!-- 插入 （匹配有值的字段）-->
	<insert id="insert" parameterType="com.smart.campus.entity.po.QuestionOption">
		<selectKey keyProperty="bean.optionId" resultType="String" order="BEFORE">
			SELECT REPLACE(UUID(), '-', '')
		</selectKey>
		 INSERT INTO question_option
		 <trim prefix="(" suffix=")" suffixOverrides="," >
			<if test="bean.optionId != null">
				 option_id,
			</if>
			<if test="bean.questionId != null">
				 question_id,
			</if>
			<if test="bean.optionContent != null">
				 option_content,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides="," >
			<if test="bean.optionId!=null">
				 #{bean.optionId},
			</if>
			<if test="bean.questionId!=null">
				 #{bean.questionId},
			</if>
			<if test="bean.optionContent!=null">
				 #{bean.optionContent},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
	</insert>

	<!-- 插入或者更新 （匹配有值的字段）-->
	<insert id="insertOrUpdate" parameterType="com.smart.campus.entity.po.QuestionOption">
		 INSERT INTO question_option
		 <trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.optionId != null">
				 option_id,
			</if>
			<if test="bean.questionId != null">
				 question_id,
			</if>
			<if test="bean.optionContent != null">
				 option_content,
			</if>
			<if test="bean.sortOrder != null">
				 sort_order,
			</if>
			<if test="bean.createTime != null">
				 create_time,
			</if>
		 </trim>
		 <trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="bean.optionId!=null">
				 #{bean.optionId},
			</if>
			<if test="bean.questionId!=null">
				 #{bean.questionId},
			</if>
			<if test="bean.optionContent!=null">
				 #{bean.optionContent},
			</if>
			<if test="bean.sortOrder!=null">
				 #{bean.sortOrder},
			</if>
			<if test="bean.createTime!=null">
				 #{bean.createTime},
			</if>
		 </trim>
		 on DUPLICATE key update 
		 <trim prefix="" suffix="" suffixOverrides=",">
			<if test="bean.optionId!=null">
				 option_id = VALUES(option_id),
			</if>
			<if test="bean.questionId!=null">
				 question_id = VALUES(question_id),
			</if>
			<if test="bean.optionContent!=null">
				 option_content = VALUES(option_content),
			</if>
			<if test="bean.sortOrder!=null">
				 sort_order = VALUES(sort_order),
			</if>
			<if test="bean.createTime!=null">
				 create_time = VALUES(create_time),
			</if>
		 </trim>
	</insert>

	<!-- 添加 （批量插入）-->
	<insert id="insertBatch" parameterType="com.smart.campus.entity.po.QuestionOption">
		 INSERT INTO question_option(
			 option_id,
			 question_id,
			 option_content,
			 sort_order,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.optionId},
				 #{item.questionId},
				 #{item.optionContent},
				 #{item.sortOrder},
				 #{item.createTime}
			 )
		 </foreach>
	</insert>

	<!-- 批量新增修改 （批量插入）-->
	<insert id="insertOrUpdateBatch" parameterType="com.smart.campus.entity.po.QuestionOption">
		 INSERT INTO question_option(
			 option_id,
			 question_id,
			 option_content,
			 sort_order,
			 create_time
		 )values
		 <foreach collection="list" item="item" separator=",">
			 (
				 #{item.optionId},
				 #{item.questionId},
				 #{item.optionContent},
				 #{item.sortOrder},
				 #{item.createTime}
			 )
		 </foreach>
			on DUPLICATE key update 
			option_id = VALUES(option_id),
			question_id = VALUES(question_id),
			option_content = VALUES(option_content),
			sort_order = VALUES(sort_order),
			create_time = VALUES(create_time)
	</insert>

	<!--多条件修改-->
	<update id="updateByParam" parameterType="com.smart.campus.entity.query.QuestionOptionQuery">
		 UPDATE question_option q
 		 <set> 
			<if test="bean.optionId != null">
				 option_id = #{bean.optionId},
			</if>
			<if test="bean.questionId != null">
				 question_id = #{bean.questionId},
			</if>
			<if test="bean.optionContent != null">
				 option_content = #{bean.optionContent},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 <include refid="query_condition" />
	</update>

	<!--多条件删除-->
	<delete id="deleteByParam">
		 delete q from question_option q
 		 <include refid="query_condition" />
	</delete>

	<!-- 根据OptionId修改-->
	<update id="updateByOptionId" parameterType="com.smart.campus.entity.po.QuestionOption">
		 UPDATE question_option
 		 <set> 
			<if test="bean.questionId != null">
				 question_id = #{bean.questionId},
			</if>
			<if test="bean.optionContent != null">
				 option_content = #{bean.optionContent},
			</if>
			<if test="bean.sortOrder != null">
				 sort_order = #{bean.sortOrder},
			</if>
			<if test="bean.createTime != null">
				 create_time = #{bean.createTime},
			</if>
 		 </set>
 		 where option_id=#{optionId}
	</update>

	<!-- 根据OptionId删除-->
	<delete id="deleteByOptionId">
		delete from question_option where option_id=#{optionId}
	</delete>

	<!-- 根据PrimaryKey获取对象-->
	<select id="selectByOptionId" resultMap="base_result_map" >
		select <include refid="base_column_list" /> from question_option q where option_id=#{optionId}
	</select>

</mapper>