@font-face {
  font-family: "iconfont"; /* Project id 5171830 */
  src: url('iconfont.ttf?t=1782534745142') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-download:before {
  content: "\e839";
}

.icon-attachment:before {
  content: "\e604";
}

.icon-sys_message:before {
  content: "\e660";
}

.icon-edit:before {
  content: "\e753";
}

.icon-editpassword:before {
  content: "\e63d";
}

.icon-medal:before {
  content: "\f468";
}

.icon-arrow-left:before {
  content: "\e600";
}

.icon-arrow-right:before {
  content: "\e7af";
}

.icon-pending:before {
  content: "\e606";
}

.icon-homework:before {
  content: "\e60f";
}

.icon-ok:before {
  content: "\e63c";
}

.icon-play-cover:before {
  content: "\e601";
}

.icon-completed:before {
  content: "\e6a6";
}

.icon-progress:before {
  content: "\e7b0";
}

.icon-chapter:before {
  content: "\e62e";
}

.icon-class:before {
  content: "\e69c";
}

.icon-search:before {
  content: "\ea56";
}

.icon-menu-message:before {
  content: "\e78a";
}

.icon-menu-plan:before {
  content: "\e63b";
}

.icon-courses:before {
  content: "\e603";
}

.icon-checkcode:before {
  content: "\e626";
}

.icon-user:before {
  content: "\e6bc";
}

.icon-phone:before {
  content: "\e6ab";
}

.icon-calendar:before {
  content: "\e602";
}

.icon-menu-user:before {
  content: "\e61c";
}

.icon-password:before {
  content: "\e65d";
}

.icon-analysis:before {
  content: "\e618";
}

.icon-time:before {
  content: "\e680";
}

.icon-menu-home:before {
  content: "\e69d";
}

.icon-menu-exam:before {
  content: "\e6e9";
}

.icon-collection:before {
  content: "\e640";
}

